<div class="marketplace-image"
     style="background-image: url(@Url); height:@($"{Height}px"); width: @($"{Width}px");">
</div>

@functions {
    [Parameter]
    int Width { get; set; }

    [Parameter]
    int Height { get; set; }

    [Parameter]
    string Url { get; set; }
}