@page "/addassets"

<form method="post" enctype="multipart/form-data" onsubmit="@OnSubmit" action="api/uploadfile">
    <div class="form-group">
        <label for="title">Title: </label>
        <input id="title" class="form-control" name="Title" />
    </div>

    <div class="form-group">
        <label for="description">Description: </label>
        <input id="description" class="form-control" name="Description" />
    </div>

    <div class="form-group">
        <input class="form-control-file" type="file" name="FormFile" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">
            @if (isSubmitting)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="false"></span>
                <span>
                    Loading...
                </span>
            }
            else
            {
                <span>
                    Load Asset
                </span>
            }
        </button>
    </div>
</form>

@functions {
    private bool isSubmitting = false;

    private void OnSubmit()
    {
        isSubmitting = true;
    }
}