@page "/addassets"

<form method="post" enctype="multipart/form-data" action="api/uploadfile">
    <div>
        <label>Private key: </label>
        <input name="Title"/>
    </div>
    <div>
        <label>Public key: </label>
        <input name="Description"/>
    </div>
    <input type="file" name="FormFile" />
    <input type="submit" />
</form>
