@page "/"
@using BlockDudes.Models
@using BlockDudes.Services
@using Microsoft.AspNetCore.Components.Services;
@inject IAccountsService AccountService
@inject IUriHelper uriHelper

<div>
    <label>Private key: </label>
    <input id="name" bind="@exampleModel.PrivateKey" />
</div>

<button onclick="@Login">Login</button>

@functions {
    private KeysModel exampleModel = new KeysModel();

    public void Login()
    {
        AccountService.AddAccount(exampleModel.PrivateKey);

        uriHelper.NavigateTo("/marketplace");
    }
}