@page "/"
@using BlockDudes.Models
@using BlockDudes.Services
@using Microsoft.AspNetCore.Components.Services;
@inject IAccountsService AccountService
@inject IUriHelper uriHelper

<h1>Welcome to Community Value Exchange</h1>

<p>
    A decentralized platform that will drive financial inclusion and make peer-to-peer exchange of a commodity or a service on the blockchain possible by lowering the entry barriers
    <br />
    Value is created and exchanged between people on the network empowering them to unleash the value they possess and build a strong community
</p>

<p>
    <b>What can you do with us</b>
    <br />
    With this prototype we can tokenize a commodity that has potential value and make it tradeable on a decentralized platform.
</p>

<p>
    <b>
        How can you do this
    </b>
    <br />
    The approach is quite simple
    <ol>
        <li>
            Upload details about what you would like to exchange
        </li>
        <li>
            Go to the platform to make a exchange proposal
        </li>
        <li>
            Agree on the exchange and write this transaction on the blockchain
        </li>
    </ol>
</p>

<div class="form-group">
    <label for="privateKey"><b>Please enter private key: </b></label>
    <input class="form-control" id="privateKey" bind="@privateKey" />
</div>
<div class="form-group">
    <button class="btn btn-primary" onclick="@Login">Login</button>
</div>

@functions {
    private string privateKey;

    private void Login()
    {
        if (!string.IsNullOrWhiteSpace(privateKey))
        {
            AccountService.AddAccount(privateKey);
            uriHelper.NavigateTo("/marketplace");
        }
    }
}
