@page "/keys"
@using BlockDudes.Services
@inject IAccountsService AccountService

<button onclick="@GetBalance">Get My Balance</button>
<div>@balance</div>
<button onclick="@GetCurrentAccount">Get Current Account Address</button>
<div>@address</div>

@functions {
    decimal balance;
    string address;

    public void GetBalance()
    {
        balance = AccountService.GetAccountEtherBalanceAsync().Result;
    }

    public void GetCurrentAccount()
    {
        address = AccountService.GetCurrentAccount().Address;
    }
}