@page "/keys"
@using BlockDudes.Services
@inject IAccountsService AccountService

<div class="form-group">
    <label for="balance">Balance:</label>
    <input disabled class="form-control" id="balance" bind="@balance" />
</div>

<div class="form-group">
    <button class="btn btn-primary" onclick="@GetBalance">Get My Balance</button>
</div>

<div class="form-group">
    <label for="address">Address:</label>
    <input disabled class="form-control" id="address" bind="@address" />
</div>

<div class="form-group">
    <button class="btn btn-primary" onclick="@GetCurrentAccount">Get Current Account Address</button>
</div>

@functions {
    decimal balance;
    string address;

    public void GetBalance()
    {
        balance = AccountService.GetAccountEtherBalanceAsync().Result;
    }

    public void GetCurrentAccount()
    {
        address = AccountService.GetCurrentAccount().Address;
    }
}
