@page "/marketplace"
@using BlockDudes.Services
@using BlockDudes.Models
@inject AssetService AssetService

<h1>Marketplace</h1>

@if (assets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in assets)
            {
                <tr>
                    <td>@asset.Title</td>
                    <td>@asset.Description</td>
                    <td>
                        <div 
                             class="marketplace-image"
                             style="background-image: url(@asset.Image.StringRepresentation)">
                        </div>
                    </td>
                    <td>
                        <a title="Exchange" href="/exchange/@asset.Id">Exchange</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    List<AssetViewModel> assets;

    protected override void OnInit()
    {
        assets = AssetService.GetAll();
    }
}
