@page "/marketplace"
@using BlockDudes.Services
@using BlockDudes.Models
@inject AssetService AssetService

<h1>Marketplace</h1>

@if (assets == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (assets.Count == 0)
{
    <p>Marketplace is empty</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var asset in assets)
            {
                <div class="col-4 mt-lg-4">
                    <div class="card" style="height: 300px">
                        <ImageView Height="150px" Class="card-img-top" Url="@asset.Link" />
                        <div class="card-body">
                            <h5 class="card-title">@asset.Title</h5>
                            <p class="card-text">@asset.Description</p>
                            <a class="card-link" href="/exchange/@asset.Id">Exchange</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@functions {
    List<AssetViewModel> assets;

    protected override async Task OnInitAsync()
    {
        assets = await AssetService.GetAll();
    }
}
