@page "/marketplace"
@using BlockDudes.Services
@using BlockDudes.Models
@inject AssetService AssetService

<h1>Marketplace</h1>

@if (assets == null)
{
    <p><em>Loading...</em></p>
}
else if (assets.Count == 0)
{
    <p>Marketplace is empty</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var asset in assets)
            {
                <div class="col-6">
                    <div class="card">
                        @if (asset.Image != null)
                        {
                            <ImageView Class="card-img-top" Url="@asset.Image.StringRepresentation" />
                        }
                        <div class="card-body">
                            <h5 class="card-title">@asset.Title</h5>
                            <p class="card-text">@asset.Description</p>
                            <a class="card-link" href="/exchange/@asset.Id">Exchange</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@functions {
    List<AssetViewModel> assets;

    protected override void OnInit()
    {
        assets = AssetService.GetAll();
    }
}
